<div class="Firts_Template_Class">
<div class="Inside_First_Template">
  {% assign first_var = "Wecome to shreyas store Audiences" %}
  {{ first_var }}
  {% assign statement_1="Operators in Liquid Coding" %}
  <br>
    {{ statement_1 }}<br>
  1)Addition 
<br>
  {% assign num_1 = 20 %}
  {% assign num_2 = 40 %}
 {{ num_1 |plus:num_2 }}
  <br>
  2)Subtraction 
  {{ num_2|minus:num_1 }}
  <br>
  3)Multiplication
  {{ num_1|times:num_2 }}
  <br>
  4)Division
  {{ num_2 | divided_by: num_1 }}

  {% comment %}
    Conditional Operators
  {% endcomment %}
If condition with if elsif and else <br>
  {% if num_1 == 21 %}
    The value of num_1 is 20
    {% elsif num_2 == 40 %}
    The value of num_2 is 40
    {% else %}
    the value is in the else part
  {% endif %}
  <br>
  If condition with Nested If and Else
  <br>
  {% if  num_2 == 40%}
    {% if num_1== 21 %}
      I am inside the nested if
      {% else %}
      I am in nested else
      {% endif %}
   {% endif %}
  
  
  
</div>
</div>